
<div>
  <div class="row">
    <div class="col-12 text-center">
      <h1>Bienvenido a la Página Admin Energy Vibes</h1>
      <p>Por favor, selecciona una opción:</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Usuario</h5>
          <p class="card-text">Gestión de usuarios</p>
          <a routerLink="/user" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gimnasio</h5>
          <p class="card-text">Gestión de gimnasios</p>
          <a routerLink="/gimnasio" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dieta</h5>
          <p class="card-text">Gestión de dietas</p>
          <a routerLink="/dieta" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
  </div>
</div>


